@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Maven+Pro&family=Montserrat:wght@100;200;300&family=Nunito+Sans:wght@200;300&family=Roboto+Flex:opsz@8..144&display=swap");
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
:root {
  --primary: #ffffff;
  --secondary: rgb(100, 100, 100);
  --tertiary: #565656;
  --light: #7f7f7f;
  --dark: #444444;
  --error: rgba(228, 46, 1, 0.792);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  box-sizing: border-box;
  color: var(--light);
}

html,
body {
  min-height: 100%;
  background-color: rgb(244, 244, 244);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.7rem;
}

p {
  font-size: 0.9rem;
  margin-top: 0;
}

ul {
  list-style: none;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  background: var(--primary);
  position: fixed;
  width: 100vw;
  top: 0;
  height: 60px;
  z-index: 1;
}

header a {
  color: var(--light);
  margin-left: 15px;
}


canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  mix-blend-mode: exclusion;
}

.container2 {
  height: 100vh;
  display: grid;
  place-items: center;
}

.container2 h1 {
  color: var(--secondary);
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 900;
}

.landingP {
  z-index: 1;
  position: absolute;
  top: 50px;
  left: 100px;
}

.landingBtn {
  height: 40px;
  box-shadow: 1px 1px 15px var(--secondary);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  color: var(--light);
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

.borderwrap {
  background-color: white;
  border-radius: 5px;
  display: grid;
  place-items: center;
  margin-top: 50px;
  max-width: 800px;
}

.unverifiedbar {
  z-index: 1;
  margin-top: 60px;
  background-color: rgba(237, 52, 52, 0.506);
  opacity: 0.8;
  text-align: center;
  color: rgb(15, 15, 15);
  width: 100vw;
  position: fixed;
}

.pendingreviewbar {
  z-index: 1;
  margin-top: 60px;
  background-color: rgba(255, 231, 114, 0.689);
  opacity: 0.8;
  text-align: center;
  color: rgb(15, 15, 15);
  width: 100vw;
  position: fixed;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--light);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

select {
  font-size: 1rem;
  padding: 0.25rem;
  width: 176px;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

textarea {
  font-family: "Nunito Sans", sans-serif;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.center {
  position: absolute;
  top: 20%;
  left: 48%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.error-text {
  color: var(--error);
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}

/* 

font-family: 'Dancing Script', cursive;

font-family: 'Maven Pro', sans-serif;
font-family: 'Roboto Flex', sans-serif;


font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;

*/
